[submodule "bocfel"]
	path = bocfel
	url = git@github.com:cspiegel/bocfel.git
[submodule "zork1"]
	path = infocom/zork1
	url = git@github.com:historicalsource/zork1.git
[submodule "starcross"]
	path = infocom/starcross
	url = git@github.com:historicalsource/starcross.git
[submodule "arthur"]
	path = infocom/arthur
	url = git@github.com:historicalsource/arthur.git
[submodule "zorkzero"]
	path = infocom/zorkzero
	url = git@github.com:historicalsource/zorkzero.git
[submodule "shogun"]
	path = infocom/shogun
	url = git@github.com:historicalsource/shogun.git
[submodule "sherlock"]
	path = infocom/sherlock
	url = git@github.com:historicalsource/sherlock.git
[submodule "zork2"]
	path = infocom/zork2
	url = git@github.com:historicalsource/zork2.git
[submodule "zork3"]
	path = infocom/zork3
	url = git@github.com:historicalsource/zork3.git
[submodule "witness"]
	path = infocom/witness
	url = git@github.com:historicalsource/witness.git
[submodule "wishbringer"]
	path = infocom/wishbringer
	url = git@github.com:historicalsource/wishbringer.git
[submodule "trinity"]
	path = infocom/trinity
	url = git@github.com:historicalsource/trinity.git
[submodule "suspended"]
	path = infocom/suspended
	url = git@github.com:historicalsource/suspended.git
[submodule "suspect"]
	path = infocom/suspect
	url = git@github.com:historicalsource/suspect.git
[submodule "spellbreaker"]
	path = infocom/spellbreaker
	url = git@github.com:historicalsource/spellbreaker.git
[submodule "sorcerer"]
	path = infocom/sorcerer
	url = git@github.com:historicalsource/sorcerer.git
[submodule "seastalker"]
	path = infocom/seastalker
	url = git@github.com:historicalsource/seastalker.git
[submodule "restaurant"]
	path = infocom/restaurant
	url = git@github.com:historicalsource/restaurant.git
[submodule "plunderedhearts"]
	path = infocom/plunderedhearts
	url = git@github.com:historicalsource/plunderedhearts.git
[submodule "planetfall"]
	path = infocom/planetfall
	url = git@github.com:historicalsource/planetfall.git
[submodule "nordandbert"]
	path = infocom/nordandbert
	url = git@github.com:historicalsource/nordandbert.git
[submodule "moonmist"]
	path = infocom/moonmist
	url = git@github.com:historicalsource/moonmist.git
[submodule "lurkinghorror"]
	path = infocom/lurkinghorror
	url = git@github.com:historicalsource/lurkinghorror.git
[submodule "leathergoddesses"]
	path = infocom/leathergoddesses
	url = git@github.com:historicalsource/leathergoddesses.git
[submodule "journey"]
	path = infocom/journey
	url = git@github.com:historicalsource/journey.git
[submodule "infidel"]
	path = infocom/infidel
	url = git@github.com:historicalsource/infidel.git
[submodule "hollywoodhijinx"]
	path = infocom/hollywoodhijinx
	url = git@github.com:historicalsource/hollywoodhijinx.git
[submodule "hitchhikersguide"]
	path = infocom/hitchhikersguide
	url = git@github.com:historicalsource/hitchhikersguide.git
[submodule "enchanter"]
	path = infocom/enchanter
	url = git@github.com:historicalsource/enchanter.git
[submodule "deadline"]
	path = infocom/deadline
	url = git@github.com:historicalsource/deadline.git
[submodule "cutthroats"]
	path = infocom/cutthroats
	url = git@github.com:historicalsource/cutthroats.git
[submodule "bureaucracy"]
	path = infocom/bureaucracy
	url = git@github.com:historicalsource/bureaucracy.git
[submodule "borderzone"]
	path = infocom/borderzone
	url = git@github.com:historicalsource/borderzone.git
[submodule "beyondzork"]
	path = infocom/beyondzork
	url = git@github.com:historicalsource/beyondzork.git
[submodule "ballyhoo"]
	path = infocom/ballyhoo
	url = git@github.com:historicalsource/ballyhoo.git
[submodule "amfv"]
	path = infocom/amfv
	url = git@github.com:historicalsource/amfv.git
[submodule "abyss"]
	path = infocom/abyss
	url = git@github.com:historicalsource/abyss.git
[submodule "stationfall"]
	path = infocom/stationfall
	url = git@github.com:historicalsource/stationfall.git
[submodule "checkpoint"]
	path = infocom/checkpoint
	url = git@github.com:historicalsource/checkpoint.git
